body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  background-color: aliceblue;
  color: #172b4d;
}

/* APP */
.app {
  display: flex;
  flex-direction: column;
}

/* BOARD */
.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.board-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px 4px 4px 0px;
}

.header-tab {
  background-color: rgba(0,0,0,.08);
  font-size: 14px !important;
  font-weight: 400;
  min-height: 32px !important;
  max-height: 32px;
  border-radius: 3px;
  cursor: pointer;
  align-content: center;
  overflow: visible;
  margin: 0 4px;
  display: block;
}

.header-tab:nth-child(2) {
  background-color:rgba(0,0,0,0);
  font-size: 18px;
  font-weight: 700;
}

/* .header-tab:nth-child(7) {
} */

.header-tab:hover {
  background-color: rgba(0,0,0,.15) !important;
}

.board {
  flex-direction: row !important;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.add-list {
  padding: 10px 8px;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: rgba(0,0,0,.08);
  white-space: normal;
  cursor: pointer;
}

.add-list:hover {
  background-color: rgba(0,0,0,.15);
}

.add-card {
  display: flex;
  color: #5e6c84;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 4px 8px;
  margin: 2px 0 8px 0;
  cursor: pointer;
  align-items: center;
}

.add-card:hover {
  background-color: rgba(0,0,0,.04);
}

.card-form {
  width: 100%;
  height: auto;
  min-height: 32px;
  margin-bottom: 8px;
  padding: 4px;
}

.list-form {
  padding: 4px;
  border-radius: 3px;
  background-color: #ebecf0;
}

.list-text {
  width: 100% !important;
}

.btn-group {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.list-btn {
  background-color: #5aac44;
  box-shadow: none;
  border: none;
  color: #fff;
  height: 32px;
  padding: 4px 12px;
  margin-right: 20px;
  font-size: 14px;
  border-radius: 3px;
}

.list-btn:hover {
  background-color: #66ba50;
}

.list-wrapper {
  width: 272px;
  margin: 4px 4px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.list {
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  white-space: normal;
}

.list-header {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: baseline;
}

.list-header-title-input {
  overflow: hidden;
  overflow-wrap: break-word;
  height: 100%;
  padding: 10px 8px !important;
  width: 228px;
  max-height: 256px;
  border-radius: 3px;
  box-sizing: border-box;
  flex-grow: 1;
}

.list-header-title-input:focus {
  box-shadow: inset 0 0 0 2px #0079bf;
}

.list-header-title-label {
  max-width: 228px;
  padding: 10px 8px;
  min-height: 20px;
  flex: 1;
  overflow: hidden;
  overflow-wrap: break-word;
}

.card-list {
  margin: 0 4px;
  padding: 0 4px;
}

.card {
  flex-direction: row;
  clear: both;
  overflow: hidden;
  padding : 6px 8px 4px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  word-wrap: break-word;
}

.card:hover {
  background-color: #F9F9FB;
}

@media screen and (max-width: 600px) {
  .main, .header, .board, .board-header {
    flex-direction: column;
  }
  .header-tab {
    margin-bottom: 8px;
  }
}



/* SIDENAV */
.board-menu {
  width: 0;
  box-shadow: 0 12px 24px -6px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
  transform: translateX(0);
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition-duration: .1s;
  transition-timing-function: ease-in;
  z-index: 5;
  background-color: #f4f5f7;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow: hidden;
}

.board-menu-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  flex: 0 0 auto;
  height: 48px;
  padding: 0 12px;
  position: relative;
  width: 100%;
}

.board-menu-header-title {
  margin: 14px 32px;
  text-align: center;
  flex: 1;
  font-weight: 600;
}

.board-menu-header-divider {
  background-color: rgba(9,30,66,.13);
  border: 0;
  height: 1px;
  margin: 0;
  width: 95%;
  align-self: center;
}

.board-menu p {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.board-menu p:hover {
  color: #f1f1f1;
}

.board-menu .closebtn {
  cursor: pointer;
  /* position: absolute; */
  font-size: 30px;
  /* top: 8px;
  right: 6px; */
  /* top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; */
}

@media screen and (max-height: 450px) {
  .board-menu {padding-top: 15px;}
  .board-menu p {font-size: 18px;}
}