/* 
*  CSS TABLE OF CONTENTS
*   
*  1 - Body
*  2 - Main
*  3 - Header
*  4 - Board Header
*  5 - Board Menu
*  6 - Board
*  7 - Add List
*  8 - List
*  9 - Add Card
*  10 - Card
*  11 - Card Modal
*  12 - Small Screen
*/

/*** 1 - Body ***/
body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  background-color: aliceblue;
  color: #172b4d;
  padding: 0;
  margin: 0;
}


/*** 2 - Main ***/
.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}


/*** 3 - Header ***/
.app-header {
  width: 100%;
  background-color: rgba(0,0,0,.32);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 4px;
}

.app-header-tab {
  background-color: hsla(0,0%,100%,.3);
  font-size: 14px !important;
  font-weight: 400;
  color: white !important;
  min-height: 32px !important;
  max-height: 32px;
  border-radius: 3px;
  cursor: pointer;
  align-content: center;
  overflow: visible;
  margin: 0px 4px !important;
  display: block;
}
.app-header-tab:nth-child(6) {
  background-color:rgba(0,0,0,0);
  color:  hsla(0,0%,100%,.3) !important;
  font-size: 18px !important;
  font-weight: 700;
}


/*** 4 - Board Header ***/
.board-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px 4px 4px 8px;
}

.header-tab {
  background-color: rgba(0,0,0,.08);
  font-size: 14px !important;
  font-weight: 400 !important;
  min-height: 32px !important;
  max-height: 32px;
  border-radius: 3px;
  cursor: pointer;
  align-content: center;
  overflow: visible;
  margin: 0 4px;
  display: block;
}

.header-tab:nth-child(2) {
  background-color: rgba(0,0,0,0) !important;
  font-size: 18px !important;
}

.header-tab:hover {
  background-color: rgba(0,0,0,.15) !important;
}

.board-header-btn-divider {
  border-color: rgba(0,0,0,.2) !important;
  border-left: 1px solid hsla(0,0%,100%,.24);
  height: 16px;
  margin: 8px 8px 12px 4px;
}


/*** 5 - Board Menu ***/
.board-menu {
  width: 339px;
  box-shadow: 0 12px 24px -6px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
  transform: translateX(0);
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
  transition-duration: .1s;
  transition-timing-function: ease-in;
  background-color: #f4f5f7;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow: hidden;
  margin-top: 40px;
}

.board-menu-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  flex: 0 0 auto;
  height: 48px;
  padding: 0 12px;
  position: relative;
  width: 100%;
}

.board-menu-header-title {
  margin: 14px 32px;
  text-align: center;
  flex: 1;
  font-weight: 600;
}

.board-menu-header-divider {
  background-color: rgba(9,30,66,.13);
  border: 0;
  height: 1px;
  margin: 16px 0;
  width: 95%;
  align-self: center;
}

.board-menu-content {
  box-sizing: border-box;
  display: flex;
  padding: 12px 6px 12px 12px;
  width: 100%;
  height: 100%;
}

.board-menu-navigation {
  margin: 4px 0;
  list-style: none;
  padding: 0;
}

.board-menu-navigation-item {
  cursor: pointer;
  width: 305px !important;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  line-height: 20px;
  align-items: flex-start;
  padding: 6px 6px 6px 12px;
}

.board-menu-navigation-item:hover {
  background-color: rgba(0,0,0,8);
}

.board-menu-navigation-item:active {
  background-color: red;
}

.board-menu-navigation-item-group {
  flex-direction: column;
  padding-left: 14px;
}

.board-menu-navigation-item-text {
  margin: 0;
}

.board-menu-navigation-item-sum {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  padding-top: 3px;
}

.board-menu-navigation-item-time {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  padding-top: 3px;
}

.power-up-block {
  box-shadow: 0 1px 1px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
  padding-left: 16px;
  padding-right: 16px;
  overflow: hidden;
  width: 100%;
  max-width: 267px;
  box-sizing: border-box;
  border-radius: 3px;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.power-up-block-group {
  display: flex;
  flex-direction: row;
  align-items: baseline;

}

.board-menu .closebtn {
  cursor: pointer;
  font-size: 30px;
}

/*** 6 - Board ***/
.board {
  flex-direction: row !important;
  padding-bottom: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
}


/*** 7 - Add List ***/
.add-list {
  padding: 10px 8px;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: rgba(0,0,0,.08);
  white-space: normal;
  cursor: pointer;
}

.add-list:hover {
  background-color: rgba(0,0,0,.15);
}

.list-form {
  padding: 4px;
  border-radius: 3px;
  background-color: #ebecf0;
}

.form-text {
  width: 100% !important;
}

.btn-group {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.add-btn {
  background-color: #5aac44;
  box-shadow: none;
  border: none;
  color: #fff;
  height: 32px;
  padding: 4px 12px;
  margin-right: 20px;
  font-size: 14px;
  border-radius: 3px;
}

.add-btn:hover {
  background-color: #66ba50;
}



/*** 8 - List ***/
.list-wrapper {
  width: 272px;
  margin: 4px 4px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.list {
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  white-space: normal;
}

.list-header {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: baseline;
  justify-content: space-between;
}

.list-header-input {
  overflow: hidden;
  overflow-wrap: break-word;
  height: 100%;
  padding: 10px 8px !important;
  width: 228px;
  height: 30px;
  border-radius: 3px;
  box-sizing: border-box;
  outline: none;
  border: none;
  margin: 4px 8px;
}

.list-header-input:focus {
  box-shadow: inset 0 0 0 2px #0079bf;
}

.list-header-label {
  max-width: 228px;
  padding: 10px 8px;
  min-height: 20px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.list-header-more {
  width: 21.6px;
  border-radius: 3px;
  padding: 6px;
  margin-right: 6px;
}

.list-header-more:hover {
  background-color: rgba(0,0,0,.08);
}

.card-list {
  margin: 0 4px;
  padding: 0 4px;
}


/*** 9 - Add Card ***/
.add-card {
  display: flex;
  color: #5e6c84;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 4px 8px;
  margin: 2px 0 8px 0;
  cursor: pointer;
  align-items: center;
}

.add-card:hover {
  background-color: rgba(0,0,0,.04);
}

.card-form {
  width: 100%;
  height: auto;
  min-height: 32px;
  margin-bottom: 8px;
  padding: 4px;
}


/*** 10 - Card ***/
.card {
  flex-direction: row;
  clear: both;
  overflow: hidden;
  padding : 6px 8px 4px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  word-wrap: break-word;
}

.card:hover {
  background-color: #F9F9FB;
}

.card-btn {
  box-shadow: none;
  border: none;
  background: none;
  outline: none;
  width: 100%;
  text-align: left;
}

/*** 11 - Card Modal ***/
.modal-btn {
  background-color: rgba(9,30,66,.04);
  box-shadow: none;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;
  height: 32px;
  margin-top: 8px;
  min-width: 144px;
  max-width: 300px;
  overflow: hidden;
  padding: 6px 12px;
  white-space: nowrap;
  transition-duration: 85ms;
  transition-timing-function: ease;
}

/*** 12 - Small Screen ***/
@media screen and (max-width: 600px) {
  .main, .header, .board, .board-header {
    flex-direction: column;
  }
  .header-tab {
    margin-bottom: 8px;
  }
}