body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  background-color: aliceblue;
  color: #172b4d;
}

/* APP */
.app {
  display: flex;
  flex-direction: column;
}

/* BOARD */
.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.board-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: aqua; */
}

.header-tab {
  background-color: rgba(0,0,0,.08);
  font-size: 14px;
  min-height: 32px;
  max-height: 32px;
  border-radius: 3px;
  cursor: pointer;
  align-content: center;
}

.header-tab:nth-child(1) {
  background-color: none;
  font-size: 18px;
}

.header-tab:hover {
  background-color: rgba(0,0,0,.15) !important;
}

.board {
  flex-direction: row !important;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.add-list {
  padding: 10px 8px;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: rgba(0,0,0,.08);
  white-space: normal;
  cursor: pointer;
}

.add-list:hover {
  background-color: rgba(0,0,0,.15);
}

.add-card {
  display: flex;
  color: #5e6c84;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 4px 8px;
  margin: 2px 0 8px 0;
  cursor: pointer;
  align-items: center;
}

.add-card:hover {
  background-color: rgba(0,0,0,.04);
}

.card-form {
  width: 100%;
  height: auto;
  min-height: 32px;
  margin-bottom: 8px;
  padding: 4px;
}

.list-form {
  padding: 4px;
  border-radius: 3px;
  background-color: #ebecf0;
}

.list-text {
  width: 100% !important;
}

.btn-group {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.list-btn {
  background-color: #5aac44;
  box-shadow: none;
  border: none;
  color: #fff;
  height: 32px;
  padding: 4px 12px;
  margin-right: 20px;
  font-size: 14px;
  border-radius: 3px;
}

.list-btn:hover {
  background-color: #66ba50;
}

.list-wrapper {
  width: 272px;
  margin: 4px 4px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.list {
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  white-space: normal;
}

.list-header {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: baseline;
}

.list-header-title-input {
  overflow: hidden;
  overflow-wrap: break-word;
  height: 100%;
  padding: 10px 8px !important;
  width: 228px;
  max-height: 256px;
  border-radius: 3px;
  box-sizing: border-box;
  flex-grow: 1;
}

.list-header-title-input:focus {
  box-shadow: inset 0 0 0 2px #0079bf;
}

.list-header-title-label {
  max-width: 228px;
  padding: 10px 8px;
  min-height: 20px;
  flex: 1;
  overflow: hidden;
  overflow-wrap: break-word;
}

.card-list {
  margin: 0 4px;
  padding: 0 4px;
}

.card {
  flex-direction: row;
  clear: both;
  overflow: hidden;
  padding : 6px 8px 4px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  word-wrap: break-word;
}

.card:hover {
  background-color: #F9F9FB;
}

@media screen and (max-width: 600px) {
  .main, .header, .board {
    flex-direction: column;
  }
}

